.gallery-root {
  text-align: center;
}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}

.loader-block {
	width: 100%;
	padding: 20px;
	background-color: #222;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	color: #fff;
	box-sizing: border-box;
}

.sortable-ghost {
  opacity: 0;
}
